.table-list .bulk-input {
	td {
		background-color: $light;
	}

	.form-control,
	.input-group-inset-item {
		background-color: $body-bg;

		&[disabled] {
			background-color: $light;

			&[placeholder],
			&::placeholder {
				color: $input-disabled-color;
			}
		}

		&[placeholder],
		&::placeholder {
			color: $dark;
		}

		&.disabled {
			background-color: $light;
		}
	}

	.has-error {
		.form-control,
		.input-group-inset-item {
			background-color: $input-danger-bg;
		}
	}

	.input-title {
		color: $secondary;
	}

	.varied-data {
		text-align: left;
	}
}
