#downloadLicenses .download-licenses-container,
#extendLicenses .extend-licenses-container {
	padding: $spacing-lg $spacing-md;
}

#generateLicense {
	.alert-messages-content {
		padding-top: $spacing-lg;
	}

	.specific-details-content {
		background-color: $body-bg;
		border-radius: $border-radius;
		padding: $spacing-default;
	}
}

.additional-information,
.edit-license {
	dl {
		font-size: $mid-font-size;
		line-height: 1;

		div {
			display: flex;
		}
	}

	dt::after {
		content: ': \00a0';
	}

	h4 {
		margin-bottom: $spacing-md;
	}
}

.cluster-licenses {
	.license {
		border-bottom: 1px solid $divider;
		margin-bottom: $spacing-xs;
		padding-top: $spacing-lg;

		&:first-child {
			border-top: 1px solid $divider;
		}
	}
}

.download-licenses-container {
	padding: 0 $spacing-md;
}

.edit-license-actions {
	display: flex;
	justify-content: space-between;
	margin-bottom: $spacing-md;

	.btn-secondary {
		border: none;
	}
}

.edit-license {
	dt {
		padding-right: $spacing-xxs;
	}

	.description,
	.owner {
		dd {
			word-break: break-word;
		}
	}

	.server-id-fields {
		.host-name,
		.server-id {
			dd {
				word-break: break-word;
			}
		}
	}
}

.generate-license-container {
	h3 {
		margin-bottom: $spacing-default;
	}
}

.generate-license-sheet {
	margin: $spacing-default auto $spacing-lg;
	padding-bottom: $spacing-default;

	.choose-purchase {
		margin-bottom: $spacing-default;
	}
}

.license-details {
	dd {
		margin-bottom: 0;
	}

	dl {
		font-size: $mid-font-size;

		div {
			display: flex;
		}
	}

	dt {
		padding-right: $spacing-xxs;
		white-space: nowrap;
	}

	.complimentary {
		.form-group {
			margin-bottom: 0;
		}
	}
}

.license-search {
	&.custom-search {
		margin-bottom: $spacing-default;
	}
}

.licenses {
	background-color: $body-bg;
	border-radius: $border-radius;
	padding: $spacing-default;
}

.server-id-field-groups {
	.server-id-field {
		border: 1px solid $divider;
		border-bottom-width: 0;
		padding: $spacing-default;

		&:first-child {
			border-top-left-radius: $border-radius;
			border-top-right-radius: $border-radius;
		}

		&:last-child {
			border-bottom-left-radius: $border-radius;
			border-bottom-right-radius: $border-radius;
			border-bottom-width: 1px;
		}
	}
}
