.subscriptions-container {
	padding: 0 $spacing-default;

	.date-picker {
		input {
			font-size: $input-font-size-sm;
			height: $input-height-sm;
		}
	}

	.info-container {
		margin-left: 0;
		margin-right: 0;
	}

	.subscriptions {
		label {
			display: block;

			&.custom-checkbox {
				display: inline-block;
				vertical-align: middle;
			}
		}
	}

	.subscriptions-header {
		display: flex;
		justify-content: space-between;
		padding: $spacing-lg 0;
	}
}
