@import 'views/account_history';
@import 'views/add_items';
@import 'views/bulk_input';
@import 'views/details';
@import 'views/license';
@import 'views/search_menu';
@import 'views/shared';
@import 'views/side_panel';
@import 'views/subscriptions';

@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/SourceSansPro-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 600;
	src: url(../fonts/SourceSansPro-SemiBold.ttf) format('truetype');
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 700;
	src: url(../fonts/SourceSansPro-Bold.ttf) format('truetype');
}

dt {
	font-weight: $font-weight-semi-bold;
}

input {
	&:invalid,
	&:out-of-range {
		background-color: $input-danger-bg;
		border-color: $input-danger-border-color;
		box-shadow: $input-danger-box-shadow;
		color: $input-danger-color;
	}
}

#wrapper {
	padding-top: 0;
}

.breadcrumb {
	.active {
		color: $secondary;
		font-weight: $font-weight-normal;
	}
}

.empty-state {
	color: $secondary;
	margin: $spacing-default;
	text-align: center;
}

.form-feedback-group {
	padding-bottom: $spacing-xs;
}

.form-group {
	.field.table-field {
		width: 65%;

		table {
			margin-bottom: $spacing-default;
		}
	}
}

.label {
	letter-spacing: 0.04rem;
}

.management-bar {
	margin-bottom: 0;

	+ .subnav-tbar-primary {
		margin-top: 0;
	}
}

.modal-footer {
	justify-content: flex-end;
}

.nav-underline {
	background-color: $body-bg;
	border-bottom: 1px solid $secondary-l3;

	.nav-link {
		padding-bottom: $spacing-md;
		padding-top: $spacing-md;
	}
}

.pagination-bar {
	margin-top: $spacing-md;
}

.portlet-body {
	margin-top: $header-height;
}

.table {
	th {
		color: $secondary;
		font-size: $mid-font-size;
	}

	.highlight-row td {
		background-color: $primary-l3;
	}
}

.table-list thead:first-child {
	th {
		box-shadow: none;
	}
}
