<img src="https://www.liferay.com/osb-portlet/images/top_image.png"
	height="78"
	width="78"
/>

<br />

<img src="https://www.liferay.com/osb-portlet/images/header_logo.png"
	alt="Liferay"
	height="47"
	style="margin-left: 50px;"
	width="147"
/>

<br /><br />

<div style="margin-left: 50px; margin-right: 50px;">
	[$TO_NAME$]様<br /><br />

	この度はライフレイサポートへお申し込みいただきまして、誠にありがとうございます。ライフレイサブスクリプションプロジェクト [$ACCOUNT_ENTRY_NAME$] の設定が完了しましたが、Liferay.comアカウントの作成がお済みでないようです。[$SUBSCRIPTION_SERVICES$]のご利用にはアカウントが必要となります。御社メールアドレスを使用してアカウントの作成をお願いいたします。<br /><br />

	<a href="https://login.liferay.com/signin/register">ライフレイアカウントを作成する</a><br /><br />

	アカウント作成及びメールによる本人確認後、当メールへご返信くださいますようお願いいたします。上記サービスをご利用いただけるよう設定いたします。<br /><br />

	よろしくお願いいたします。<br />
	ライフレイサポート
</div>

<br /><br />

<img src="https://www.liferay.com/osb-portlet/images/footer_image.png"
	height="18"
	width="100%"
/>

<br /><br />

<a href="https://www.liferay.com" style="margin-left: 50px;">www.liferay.com</a>

<img src="https://www.liferay.com/osb-portlet/images/footer_logo.png"
	align="right"
	height="23"
	style="margin-right: 50px;"
	width="72"
/>