<img src="https://www.liferay.com/osb-portlet/images/top_image.png"
	height="78"
	width="78"
/>

<br />

<img src="https://www.liferay.com/osb-portlet/images/header_logo.png"
	alt="Liferay"
	height="47"
	style="margin-left: 50px;"
	width="147"
/>

<br /><br />

<div style="margin-left: 50px; margin-right: 50px;">
	Hola [$TO_NAME$]<br /><br />

	Hemos creado tu proyecto de suscripción [$ACCOUNT_ENTRY_NAME$], sin embargo no nos ha sido posible localizar tu cuenta de usuario en Liferay.com. Para poder acceder a [$SUBSCRIPTION_SERVICES$], por favor crea una cuenta de usuario con tu email corporativo:<br /><br />

	<a href="https://login.liferay.com/signin/register">Crea una cuenta en Liferay</a><br /><br />

	Una vez hayas creado y verificado tu cuenta, por favor responde a este email y nuestro representante regional de Provisioning te facilitará el acceso a todos los recursos de Liferay mencionados anteriormente.<br /><br />

	Cordialmente<br />
	El Equipo de Soporte
</div>

<br /><br />

<img src="https://www.liferay.com/osb-portlet/images/footer_image.png"
	height="18"
	width="100%"
/>

<br /><br />

<a href="https://www.liferay.com" style="margin-left: 50px;">www.liferay.com</a>

<img src="https://www.liferay.com/osb-portlet/images/footer_logo.png"
	align="right"
	height="23"
	style="margin-right: 50px;"
	width="72"
/>