<img src="https://www.liferay.com/osb-portlet/images/top_image.png"
	height="78"
	width="78"
/>

<br />

<img src="https://www.liferay.com/osb-portlet/images/header_logo.png"
	alt="Liferay"
	height="47"
	style="margin-left: 50px;"
	width="147"
/>

<br /><br />

<div style="margin-left: 50px; margin-right: 50px;">
	Olá [$TO_NAME$],<br /><br />

	O seu Projeto de Subscrição Liferay [$ACCOUNT_ENTRY_NAME$] foi criado, mas não foi possível localizar sua conta de usuário em Liferay.com. Para que tenha acesso ao [$SUBSCRIPTION_SERVICES$], por favor crie uma conta em Liferay.com com o seu email corporativo:<br /><br />

	<a href="https://login.liferay.com/signin/register">Criar uma conta em Liferay</a><br /><br />

	Após criar e verificar sua conta, por favor responda este e-mail e então nossa equipe de Provisioning prontamente lhe dará acesso a todos os recursos dos Serviços de Subscrição Liferay mencionados anteriormente.<br /><br />

	Atenciosamente,<br />
	Suporte Liferay
</div>

<br /><br />

<img src="https://www.liferay.com/osb-portlet/images/footer_image.png"
	height="18"
	width="100%"
/>

<br /><br />

<a href="https://www.liferay.com" style="margin-left: 50px;">www.liferay.com</a>

<img src="https://www.liferay.com/osb-portlet/images/footer_logo.png"
	align="right"
	height="23"
	style="margin-right: 50px;"
	width="72"
/>